<%- include('partials/header'); -%>

  <div class="head">
    <span>My dashboard</span>
    <a href="/profile">My Profile</a>
    <a href="/task">Task Manager</a>
  </div>


  <ul class="courses">
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_uQrJ0TkZlc" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Python Tutorial</h4>
      <p>Python Full Course for Beginners </p>

      <p class="deadline">Deadline - 23-05-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eIrMbAQSU34" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Java course</h4>
      <p>Java Tutorial for Beginners /programming with mosh</p>

      <p class="deadline">Deadline - 12-06-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/PkZNo7MFNFg" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>Java script</h4>
      <p> Web Design Course </p>

      <p class="deadline">Deadline - 15-06-2022</p>
    </li>
    <li class="course">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HXV3zeQKqGY"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <h4>SQL Tutorial</h4>
      <p>Full Database Course for Beginners </p>

      <p class="deadline">Deadline - 30-06-2022</p>
    </li>
    
  </ul>


  <%- include('partials/footer'); -%>